# **AIHT FINAL PROJECT**

# Code for Data Modelling

In [217]:
library(dplyr)
library(lubridate)
library(readr)

In [218]:
# Install the arrow package
if (!require("arrow")) install.packages("arrow")

In [219]:
# Load the arrow package
library(arrow)

# Read the Parquet file
df <- read_parquet("taxidata.parquet")


# Display the first few rows of the data
head(df)

#this table(which is a flat hierarchy) needs to be converted into fact and dimension table format (dimensional modeling). Will be done using lucid chart.

  VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count
1 1        2025-01-01 00:18:38  2025-01-01 00:26:59   1
2 1        2025-01-01 00:32:40  2025-01-01 00:35:13   1
3 1        2025-01-01 00:44:04  2025-01-01 00:46:01   1
4 2        2025-01-01 00:14:27  2025-01-01 00:20:01   3
5 2        2025-01-01 00:21:34  2025-01-01 00:25:06   3
6 2        2025-01-01 00:48:24  2025-01-01 01:08:26   2
  trip_distance RatecodeID store_and_fwd_flag PULocationID DOLocationID
1 1.60          1          N                  229          237
2 0.50          1          N                  236          237
3 0.60          1          N                  141          141
4 0.52          1          N                  244          244
5 0.66          1          N                  244          116
6 2.63          1          N                  239           68
  payment_type fare_amount extra mta_tax tip_amount tolls_amount
1 1            10.0        3.5   0.5     3.00       0
2 1             5.1        3.5   0.5     2.02       0
3 1             5.1        3.5   0.5     2.00       0
4 2             7.2        1.0   0.5     0.00       0
5 2             5.8        1.0   0.5     0.00       0
6 2            19.1        1.0   0.5     0.00       0
  improvement_surcharge total_amount congestion_surcharge Airport_fee
1 1                     18.00        2.5                  0
2 1                     12.12        2.5                  0
3 1                     12.10        2.5                  0
4 1                      9.70        0.0                  0
5 1                      8.30        0.0                  0
6 1                     24.10        2.5                  0

In [220]:
glimpse(df)

Rows: 3,475,226
Columns: 19
$ VendorID              <int> 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, …
$ tpep_pickup_datetime  <dttm> 2025-01-01 00:18:38, 2025-01-01 00:32:40, 2025-…
$ tpep_dropoff_datetime <dttm> 2025-01-01 00:26:59, 2025-01-01 00:35:13, 2025-…
$ passenger_count       <int> 1, 1, 1, 3, 3, 2, 0, 0, 0, 1, 1, 1, 3, 1, 1, 3, …
$ trip_distance         <dbl> 1.60, 0.50, 0.60, 0.52, 0.66, 2.63, 0.40, 1.60, …
$ RatecodeID            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ store_and_fwd_flag    <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N"…
$ PULocationID          <int> 229, 236, 141, 244, 244, 239, 170, 234, 148, 237…
$ DOLocationID          <int> 237, 237, 141, 244, 116, 68, 170, 148, 170, 262,…
$ payment_type          <int> 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, …
$ fare_amount           <dbl> 10.0, 5.1, 5.1, 7.2, 5.8, 19.1, 4.4, 12.1, 19.1,…
$ extra                 <dbl> 3.5, 3.5, 3.5, 1.0, 1.0, 1.0, 3.5, 3.5, 3.5, 1.0…
$ mta_tax               <dbl> 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5…
$ tip_amount            <dbl> 3.00, 2.02, 2.00, 0.00, 0.00, 0.00, 2.35, 2.00, …
$ tolls_amount          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ improvement_surcharge <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ total_amount          <dbl> 18.00, 12.12, 12.10, 9.70, 8.30, 24.10, 11.75, 1…
$ congestion_surcharge  <dbl> 2.5, 2.5, 2.5, 0.0, 0.0, 2.5, 2.5, 2.5, 2.5, 2.5…
$ Airport_fee           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …

In [221]:
# Convert to datetime
df$tpep_pickup_datetime <- ymd_hms(df$tpep_pickup_datetime)
df$tpep_dropoff_datetime <- ymd_hms(df$tpep_dropoff_datetime)

Warning message:
“ 70 failed to parse.”
Warning message:
“ 310 failed to parse.”

In [222]:
glimpse(df)

Rows: 3,475,226
Columns: 19
$ VendorID              <int> 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, …
$ tpep_pickup_datetime  <dttm> 2025-01-01 00:18:38, 2025-01-01 00:32:40, 2025-…
$ tpep_dropoff_datetime <dttm> 2025-01-01 00:26:59, 2025-01-01 00:35:13, 2025-…
$ passenger_count       <int> 1, 1, 1, 3, 3, 2, 0, 0, 0, 1, 1, 1, 3, 1, 1, 3, …
$ trip_distance         <dbl> 1.60, 0.50, 0.60, 0.52, 0.66, 2.63, 0.40, 1.60, …
$ RatecodeID            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ store_and_fwd_flag    <chr> "N", "N", "N", "N", "N", "N", "N", "N", "N", "N"…
$ PULocationID          <int> 229, 236, 141, 244, 244, 239, 170, 234, 148, 237…
$ DOLocationID          <int> 237, 237, 141, 244, 116, 68, 170, 148, 170, 262,…
$ payment_type          <int> 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, …
$ fare_amount           <dbl> 10.0, 5.1, 5.1, 7.2, 5.8, 19.1, 4.4, 12.1, 19.1,…
$ extra                 <dbl> 3.5, 3.5, 3.5, 1.0, 1.0, 1.0, 3.5, 3.5, 3.5, 1.0…
$ mta_tax               <dbl> 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5…
$ tip_amount            <dbl> 3.00, 2.02, 2.00, 0.00, 0.00, 0.00, 2.35, 2.00, …
$ tolls_amount          <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ improvement_surcharge <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ total_amount          <dbl> 18.00, 12.12, 12.10, 9.70, 8.30, 24.10, 11.75, 1…
$ congestion_surcharge  <dbl> 2.5, 2.5, 2.5, 0.0, 0.0, 2.5, 2.5, 2.5, 2.5, 2.5…
$ Airport_fee           <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …

In [223]:
# Create datetime dimension
datetime_dim <- df %>%
  select(tpep_pickup_datetime, tpep_dropoff_datetime) %>%
  distinct() %>%
  mutate(
    pick_hour = hour(tpep_pickup_datetime),
    pick_day = day(tpep_pickup_datetime),
    pick_month = month(tpep_pickup_datetime),
    pick_year = year(tpep_pickup_datetime),
    pick_weekday = wday(tpep_pickup_datetime, label = FALSE) - 1,
    drop_hour = hour(tpep_dropoff_datetime),
    drop_day = day(tpep_dropoff_datetime),
    drop_month = month(tpep_dropoff_datetime),
    drop_year = year(tpep_dropoff_datetime),
    drop_weekday = wday(tpep_dropoff_datetime, label = FALSE) - 1,
    datetime_id = row_number()
  ) %>%
  select(datetime_id, tpep_pickup_datetime, pick_hour, pick_day, pick_month, pick_year, pick_weekday,
         tpep_dropoff_datetime, drop_hour, drop_day, drop_month, drop_year, drop_weekday)

In [224]:
datetime_dim

        datetime_id tpep_pickup_datetime pick_hour pick_day pick_month
1        1          2025-01-01 00:18:38  0         1        1
2        2          2025-01-01 00:32:40  0         1        1
3        3          2025-01-01 00:44:04  0         1        1
4        4          2025-01-01 00:14:27  0         1        1
5        5          2025-01-01 00:21:34  0         1        1
6        6          2025-01-01 00:48:24  0         1        1
7        7          2025-01-01 00:14:47  0         1        1
8        8          2025-01-01 00:39:27  0         1        1
9        9          2025-01-01 00:53:43  0         1        1
10      10          2025-01-01 00:00:02  0         1        1
11      11          2025-01-01 00:20:28  0         1        1
12      12          2025-01-01 00:33:58  0         1        1
13      13          2025-01-01 00:42:40  0         1        1
14      14          2025-01-01 00:30:07  0         1        1
15      15          2025-01-01 00:39:55  0         1        1
16      16          2025-01-01 00:16:54  0         1        1
17      17          2025-01-01 00:43:10  0         1        1
18      18          2025-01-01 00:01:41  0         1        1
19      19          2025-01-01 00:33:12  0         1        1
20      20          2025-01-01 00:05:49  0         1        1
21      21          2025-01-01 00:34:40  0         1        1
22      22          2025-01-01 00:55:54  0         1        1
23      23          2025-01-01 00:17:44  0         1        1
24      24          2025-01-01 00:37:13  0         1        1
25      25          2025-01-01 00:48:06  0         1        1
26      26          2025-01-01 00:14:14  0         1        1
27      27          2025-01-01 00:32:01  0         1        1
28      28          2025-01-01 00:00:37  0         1        1
29      29          2025-01-01 00:11:07  0         1        1
30      30          2025-01-01 00:14:54  0         1        1
⋮       ⋮           ⋮                    ⋮         ⋮        ⋮
3411986 3411986     2025-01-31 23:04:29  23        31       1
3411987 3411987     2025-01-31 23:45:45  23        31       1
3411988 3411988     2025-01-31 23:30:26  23        31       1
3411989 3411989     2025-01-31 23:46:08  23        31       1
3411990 3411990     2025-01-31 23:26:14  23        31       1
3411991 3411991     2025-01-31 23:52:31  23        31       1
3411992 3411992     2025-01-31 23:40:07  23        31       1
3411993 3411993     2025-01-31 23:17:30  23        31       1
3411994 3411994     2025-01-31 23:33:05  23        31       1
3411995 3411995     2025-01-31 23:43:55  23        31       1
3411996 3411996     2025-01-31 23:24:52  23        31       1
3411997 3411997     2025-01-31 23:06:34  23        31       1
3411998 3411998     2025-01-31 23:50:58  23        31       1
3411999 3411999     2025-01-31 23:11:42  23        31       1
3412000 3412000     2025-01-31 23:32:42  23        31       1
3412001 3412001     2025-01-31 23:26:24  23        31       1
3412002 3412002     2025-01-31 23:00:46  23        31       1
3412003 3412003     2025-01-31 23:23:37  23        31       1
3412004 3412004     2025-01-31 23:52:34  23        31       1
3412005 3412005     2025-01-31 23:32:04  23        31       1
3412006 3412006     2025-01-31 23:58:20  23        31       1
3412007 3412007     2025-01-31 23:38:25  23        31       1
3412008 3412008     2025-01-31 23:26:03  23        31       1
3412009 3412009     2025-01-31 23:21:00  23        31       1
3412010 3412010     2025-01-31 23:26:31  23        31       1
3412011 3412011     2025-01-31 23:01:48  23        31       1
3412012 3412012     2025-01-31 23:50:29  23        31       1
3412013 3412013     2025-01-31 23:26:59  23        31       1
3412014 3412014     2025-01-31 23:14:34  23        31       1
3412015 3412015     2025-01-31 23:56:42  23        31       1
        pick_year pick_weekday tpep_dropoff_datetime drop_hour drop_day
1       2025      3            2025-01-01 00:26:59   0         1
2       2025      3            2025-01-01 00:35:13   0         1
3       2025      3            2025-01-01 00:46:01   0         1
4       2025      3            2025-01-01 00:20:01   0         1
5       2025      3            2025-01-01 00:25:06   0         1
6       2025      3            2025-01-01 01:08:26   1         1
7       2025      3            2025-01-01 00:16:15   0         1
8       2025      3            2025-01-01 00:51:51   0         1
9       2025      3            2025-01-01 01:13:23   1         1
10      2025      3            2025-01-01 00:09:36   0         1
11      2025      3            2025-01-01 00:28:04   0         1
12      2025      3            2025-01-01 00:37:23   0         1
13      2025      3            2025-01-01 00:55:38   0         1
14      2025      3            2025-01-01 00:36:48   0         1
15      2025      3            2025-01-01 01:13:59   1         1
16      2025      3            2025-01-01 00:35:12   0         1
17      2025      3            2025-01-01 01:00:03   1         1
18      2025      3            2025-01-01 00:07:14   0         1
19      2025      3            2025-01-01 00:50:14   0         1
20      2025      3            2025-01-01 00:20:00   0         1
21      2025      3            2025-01-01 00:51:19   0         1
22      2025      3            2025-01-01 01:00:38   1         1
23      2025      3            2025-01-01 00:22:52   0         1
24      2025      3            2025-01-01 00:43:23   0         1
25      2025      3            2025-01-01 00:53:23   0         1
26      2025      3            2025-01-01 00:22:46   0         1
27      2025      3            2025-01-01 00:46:43   0         1
28      2025      3            2025-01-01 00:04:46   0         1
29      2025      3            2025-01-01 00:23:29   0         1
30      2025      3            2025-01-01 00:53:29   0         1
⋮       ⋮         ⋮            ⋮                     ⋮         ⋮
3411986 2025      5            2025-01-31 23:18:11   23        31
3411987 2025      5            2025-02-01 00:12:34    0         1
3411988 2025      5            2025-01-31 23:36:41   23        31
3411989 2025      5            2025-02-01 00:01:01    0         1
3411990 2025      5            2025-01-31 23:35:13   23        31
3411991 2025      5            2025-02-01 00:08:07    0         1
3411992 2025      5            2025-01-31 23:48:08   23        31
3411993 2025      5            2025-01-31 23:26:58   23        31
3411994 2025      5            2025-01-31 23:46:21   23        31
3411995 2025      5            2025-01-31 23:48:40   23        31
3411996 2025      5            2025-01-31 23:32:53   23        31
3411997 2025      5            2025-01-31 23:19:12   23        31
3411998 2025      5            2025-02-01 00:06:24    0         1
3411999 2025      5            2025-01-31 23:18:30   23        31
3412000 2025      5            2025-01-31 23:41:35   23        31
3412001 2025      5            2025-01-31 23:52:54   23        31
3412002 2025      5            2025-01-31 23:12:08   23        31
3412003 2025      5            2025-01-31 23:37:01   23        31
3412004 2025      5            2025-02-01 00:03:35    0         1
3412005 2025      5            2025-01-31 23:44:07   23        31
3412006 2025      5            2025-02-01 00:04:17    0         1
3412007 2025      5            2025-01-31 23:46:15   23        31
3412008 2025      5            2025-01-31 23:34:29   23        31
3412009 2025      5            2025-01-31 23:36:00   23        31
3412010 2025      5            2025-01-31 23:40:04   23        31
3412011 2025      5            2025-01-31 23:16:29   23        31
3412012 2025      5            2025-02-01 00:17:27    0         1
3412013 2025      5            2025-01-31 23:43:01   23        31
3412014 2025      5            2025-01-31 23:34:52   23        31
3412015 2025      5            2025-02-01 00:07:27    0         1
        drop_month drop_year drop_weekday
1       1          2025      3
2       1          2025      3
3       1          2025      3
4       1          2025      3
5       1          2025      3
6       1          2025      3
7       1          2025      3
8       1          2025      3
9       1          2025      3
10      1          2025      3
11      1          2025      3
12      1          2025      3
13      1          2025      3
14      1          2025      3
15      1          2025      3
16      1          2025      3
17      1          2025      3
18      1          2025      3
19      1          2025      3
20      1          2025      3
21      1          2025      3
22      1          2025      3
23      1          2025      3
24      1          2025      3
25      1          2025      3
26      1          2025      3
27      1          2025      3
28      1          2025      3
29      1          2025      3
30      1          2025      3
⋮       ⋮          ⋮         ⋮
3411986 1          2025      5
3411987 2          2025      6
3411988 1          2025      5
3411989 2          2025      6
3411990 1          2025      5
3411991 2          2025      6
3411992 1          2025      5
3411993 1          2025      5
3411994 1          2025      5
3411995 1          2025      5
3411996 1          2025      5
3411997 1          2025      5
3411998 2          2025      6
3411999 1          2025      5
3412000 1          2025      5
3412001 1          2025      5
3412002 1          2025      5
3412003 1          2025      5
3412004 2          2025      6
3412005 1          2025      5
3412006 2          2025      6
3412007 1          2025      5
3412008 1          2025      5
3412009 1          2025      5
3412010 1          2025      5
3412011 1          2025      5
3412012 2          2025      6
3412013 1          2025      5
3412014 1          2025      5
3412015 2          2025      6

In [225]:
# Passenger count dimension
passenger_count_dim <- df %>%
  select(passenger_count) %>%
  distinct() %>%
  mutate(passenger_count_id = row_number()) %>%
  select(passenger_count_id, passenger_count)

In [226]:
head(passenger_count_dim)

  passenger_count_id passenger_count
1 1                  1
2 2                  3
3 3                  2
4 4                  0
5 5                  4
6 6                  9

In [227]:
# Trip distance dimension
trip_distance_dim <- df %>%
  select(trip_distance) %>%
  distinct() %>%
  mutate(trip_distance_id = row_number()) %>%
  select(trip_distance_id, trip_distance)

In [228]:
head(trip_distance_dim)

  trip_distance_id trip_distance
1 1                1.60
2 2                0.50
3 3                0.60
4 4                0.52
5 5                0.66
6 6                2.63

In [229]:
# Rate code dimension
rate_code_type <- c(
  "1" = "Standard rate",
  "2" = "JFK",
  "3" = "Newark",
  "4" = "Nassau or Westchester",
  "5" = "Negotiated fare",
  "6" = "Group ride"
)

# Rate code dimension (fixing NA rowname issue)
rate_code_dim <- df %>%
  select(RatecodeID) %>%
  distinct() %>%
  mutate(
    rate_code_id = row_number(),
    rate_code_name = rate_code_type[as.character(RatecodeID)]
  ) %>%
  select(rate_code_id, RatecodeID, rate_code_name) %>%
  as.data.frame()

# View
head(rate_code_dim, 5)

  rate_code_id RatecodeID rate_code_name
1 1             1         Standard rate
2 2             5         Negotiated fare
3 3            99         NA
4 4             2         JFK
5 5             4         Nassau or Westchester

In [230]:
head(rate_code_dim)

  rate_code_id RatecodeID rate_code_name
1 1             1         Standard rate
2 2             5         Negotiated fare
3 3            99         NA
4 4             2         JFK
5 5             4         Nassau or Westchester
6 6             3         Newark

In [231]:
# Pickup location dimension
pickup_location_dim <- df %>%
  select(PULocationID) %>%
  distinct() %>%
  mutate(pickup_location_id = row_number()) %>%
  select(pickup_location_id, PULocationID)

In [232]:
head(pickup_location_dim)

  pickup_location_id PULocationID
1 1                  229
2 2                  236
3 3                  141
4 4                  244
5 5                  239
6 6                  170

In [233]:
# Dropoff location dimension
dropoff_location_dim <- df %>%
  select(DOLocationID) %>%
  distinct() %>%
  mutate(dropoff_location_id = row_number()) %>%
  select(dropoff_location_id, DOLocationID)

In [234]:
head(dropoff_location_dim)

  dropoff_location_id DOLocationID
1 1                   237
2 2                   141
3 3                   244
4 4                   116
5 5                    68
6 6                   170

In [236]:
# Payment type dimension
payment_type_name <- c(
  "1" = "Credit card",
  "2" = "Cash",
  "3" = "No charge",
  "4" = "Dispute",
  "5" = "Unknown",
  "6" = "Voided trip"
)

payment_type_dim <- df %>%
  select(payment_type) %>%
  distinct() %>%  # Remove rowid_to_column here
  mutate(
    payment_type_id = row_number(),
    payment_type_name = payment_type_name[as.character(payment_type)]
  ) %>%
  select(payment_type_id, payment_type, payment_type_name) %>%
  as.data.frame() # Convert to data frame

head(payment_type_dim)

  payment_type_id payment_type payment_type_name
1 1               1            Credit card
2 2               2            Cash
3 3               4            Dispute
4 4               3            No charge
5 5               5            Unknown
6 6               0            NA

In [242]:
# Fact table
fact_table <- df %>%
  left_join(passenger_count_dim, by = "passenger_count") %>%
  left_join(trip_distance_dim, by = "trip_distance") %>%
  left_join(rate_code_dim, by = "RatecodeID") %>%
  left_join(pickup_location_dim, by = "PULocationID") %>%
  left_join(dropoff_location_dim, by = "DOLocationID") %>%
  left_join(datetime_dim, by = c("tpep_pickup_datetime", "tpep_dropoff_datetime")) %>%
  left_join(payment_type_dim, by = "payment_type") %>%
  select(VendorID, datetime_id, passenger_count_id,
         trip_distance_id, rate_code_id, store_and_fwd_flag,
         pickup_location_id, dropoff_location_id,
         payment_type_id, fare_amount, extra, mta_tax,
         tip_amount, tolls_amount, improvement_surcharge, total_amount,congestion_surcharge, Airport_fee)

head(fact_table)

  VendorID datetime_id passenger_count_id trip_distance_id rate_code_id
1 1        1           1                  1                1
2 1        2           1                  2                1
3 1        3           1                  3                1
4 2        4           2                  4                1
5 2        5           2                  5                1
6 2        6           3                  6                1
  store_and_fwd_flag pickup_location_id dropoff_location_id payment_type_id
1 N                  1                  1                   1
2 N                  2                  1                   1
3 N                  3                  2                   1
4 N                  4                  3                   2
5 N                  4                  4                   2
6 N                  5                  5                   2
  fare_amount extra mta_tax tip_amount tolls_amount improvement_surcharge
1 10.0        3.5   0.5     3.00       0            1
2  5.1        3.5   0.5     2.02       0            1
3  5.1        3.5   0.5     2.00       0            1
4  7.2        1.0   0.5     0.00       0            1
5  5.8        1.0   0.5     0.00       0            1
6 19.1        1.0   0.5     0.00       0            1
  total_amount congestion_surcharge Airport_fee
1 18.00        2.5                  0
2 12.12        2.5                  0
3 12.10        2.5                  0
4  9.70        0.0                  0
5  8.30        0.0                  0
6 24.10        2.5                  0